name: CI

on: pull_request

permissions: read-all

jobs:
  lint:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - run: xcrun swift-format lint --recursive --parallel --strict .
      - run: swiftformat --lint . --reporter github-actions-log
